.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.navbar-brand img {
    max-width: 80px;
}

.navbar-toggler-icon {
    background-color: #000;
}

.navbar-nav {
    position: absolute;
    top: 45px;
    left: 49%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 19px;
}

.nav-item {
    display: inline-block;
    margin: 0 5px;
}

.nav-button {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px;
}

.title a {
    text-align: right;
    padding-right: 40px;
}

.nav-button:hover {
    color: #c1a975;
}

.navbar-kores {
    position: absolute;
    top: 50px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-kores a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin-left: 10px;
    font-size: 25px;
}

.navbar-kores a:hover {
    color: #c1a975;
}

.fa-light {
    color: #c1a975;
}

.purse-heading {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    transform: translateX(8%);
  }

  .tagline {
    margin-left: 20px;
    font-style: italic;
  }

  .row {
    transform: translateX(8%);
  }
  *{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
.header-container{
    padding-top: 2em;
    text-align: center;
    margin-bottom: 2em;
    font-style: italic;
    transition-duration: 3s;
    animation: 2s anim-lineUp ease-in-out infinite;
    
}
.header-container hr{
    width: 20%;
    margin: 0.5em auto;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
@media screen and (max-width: 800px) {
    .icons_header{display: none;}
}
div.scroll-container {
    background-color:transparent;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container img {
    padding: 10px;
}
.button5{
    transition-duration: 0.4s;
    border-radius: 50%;
}
.button5:hover{
    background-color:antiquewhite;
    border-radius: 50%;
}

.button6{
    background-color:aliceblue;
}
.button6:hover{
    color: blueviolet;
}
.dropdown-item{
    transition-duration: 0.4s;
}
.dropdown-item:hover{
    background-color:rgba(85, 107, 47, 0.788);
}
.Cl:hover{
    transform: scale(0.95);
}
.Cl2:hover{
    transform: scale(0.95);
}
.SFH1{
    transition-duration: 0.4s;
}
.SFH1:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.SGE{
    transition-duration: 0.4s;
}
.SGE:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.BMJ{
    transition-duration: 0.4s;
}
.BMJ:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.button3{
    transition-duration: 0.4s;
    border-radius: 50%;
}
.button3:hover{
    background-color:antiquewhite;
    border-radius: 50%;
}
.button4{
    transition-duration: 0.4s;
    border-radius: 50%;
}
.button4:hover{
    background-color:antiquewhite;
    border-radius: 50%;
}
.button2{
    transition-duration: 0.4s;
    border-radius: 50%;
}
.button2:hover{
    background-color:antiquewhite;
    border-radius: 50%;
}
.button1{
    transition-duration: 0.4s;
    border-radius: 50%;
}
.button1:hover{
    background-color:cornflowerblue;
    border-radius: 50%;
}
/*----- CLOTHES HTML -----*/
.BCT{
    transition-duration: 0.4s;
}
.BCT:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.MTT{
    transition-duration: 0.4s;
}
.MTT:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.SMTT{
    transition-duration: 0.4s;
}
.SMTT:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.COS{
    transition-duration: 0.4s;
}
.COS:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.SK{
    transition-duration: 0.4s;
}
.SK:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.MS{
    transition-duration: 0.4s;
}
.MS:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.DWJ{
    transition-duration: 0.4s;
}
.DWJ:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.LW{
    transition-duration: 0.4s;
}
.LW:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
/*----- ACCESSORIES HTML -----*/
.GL{
    transition-duration: 0.4s;
}
.GL:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}
.EAR{
    transition-duration: 0.4s; 
}
.EAR:hover{
    transform: scale(0.95);
    transition-duration: 0.4s;
}